#container #col1 {
 width: 250px;
 float: left;
 }
 #container #col2outer {
 width: 610px;
 float: right;
 margin: 0;
 padding: 0;
 }


.col2outer #leeft {
 width: 300px;
 float: left;
 }
 .col2outer #riight {
 width: 300px;
 float: right;
 }