#container #col1 {
 width: 200px;
 float: left;
 }
 #container #col2outer {
 width: 400px;
 float: right;
 margin: 0;
 padding: 0;
 }


#col2outer #leeft {
 width: 200px;
 float: left;
 }
 #col2outer #riight {
 width: 200px;
 float: right;
 }