.Images div,img{
			border: 2px solid #ccc;
			padding: 15px;
			background-color:#eee;
			position: absolute;
		}
		.Images div{
			
			background-color:#00f4ff;
		}
		table td .ken{
			padding:20px;
		}
		