.Images div,img{
			border: 2px solid #ccc;
			padding: 15px;
			background-color:#eee;
			position: absolute;
		}
		.Images div{
			
			background-color:#00f4ff;
		}
		 .ken{
			padding:20px;
		}
		
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}